table, th, td {
  border: 1px;
  width: 200px;
}
#data {
  width: 220px;
  height: 140px;
}
body {
	margin: 0px;
}
.prompt {
	color: red;
}

#Manu {
	background-color: lightgrey;
	margin-top: 0px;
	margin-bottom: 10px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.Item {
	color: blue;
	text-decoration: blink;
	margin-left: 50px;
	font-size: 25px;
	font-family: SimHei;
}

.body-main {
	margin-left: 100px;
	margin-right: 100px;
}
.footer{
	font-size: 12px;
height: 100px;
width: 100%;
position: fixed;
bottom: 0;
}
.fotter-inside {
	text-align: center;
	height: 6px;
}